<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application' , 'http://fonts-googleapis.com/css?family=Raleway:400,700' %><!--GOOGLE字型 -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track'=> true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  	<div id="sidebar">
  		<div id="logo">
      <%= link_to root_path do %>
        <%= image_tag "logo.png" %>
        <% end %>  
      </div>

      <ul>
        <li class="category">Website</li>
        <li><%= link_to "Blog", root_path %></li>
        <li><%= link_to "About", about_path %></li>
      </ul>

      <ul>
        <li class="category">Social</li>
        <li><a href="https://www.instagram.com/qj10159/">Instagram</a></li>
        <li><a href="https://www.facebook.com/qj10159">Facebook</a></li>
        <li><a href="https://www.flickr.com/photos/qj10159/">Flickr</a></li>
        <li><a href="https://500px.com/qjpioneer">500px</a></li>
      </ul>

  	</div><!--sidebar-->

    <div id="main_content"> <!--主要內容 -->
      <div id="header"> <!--標頭 -->
        <% if current_page?(root_path)%>
              <p>All Posts</p>
            <% elsif current_page?(about_path)%>
              <p>About</p>
            <% else %>
              <%= link_to "回到首頁" ,root_path %>
        <% end %>



            <div class="buttons">
              <% if !user_signed_in? %>
                      <button class="button"><%= link_to "登入", user_session_path%></button>
              <% end %>
              <% if user_signed_in? %>
                      <button class="button"><%= link_to "New Post", new_post_path %></button>
                      <button class="button"><%= link_to('Logout', destroy_user_session_path, :method => :delete,data: {confirm: '你確定要登出嗎?'}) %>  </button>
              <% end %>
            </div>
        
      </div><!--標頭 -->

        <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert") %>
      <% end %>
      

    <%= yield %>
    </div><!--主要內容 -->


  

  </body>
</html>
